* {
    padding: 0;
}

footer {
    background-color: #f7f7f7;
    color: #222222;
    text-decoration: none;
    font-size: 14px;
    padding: 30px 24px;
}

h2 {
    color: 222222;
    font-size: 22px;
    line-height: 2;
}

li {
    list-style-type: none;
    color: #222222;
}

#popular, #historic, #coastal, #islands, #lakes{
    padding: 10px !important;
    text-decoration: none;
    color: #222222;
    font-weight: 600;
    line-height: 18px;
    margin: 6px 6px 6px -10px;
    position: relative;
}

.rentals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 24px;
    gap: 10px;
    padding: 0px, 10px, 10px 10px!important;
    color: #222222;
    margin-bottom: 40px!important;
    margin-top: 40px!important;
    line-height: 20px;
    list-style-position: outside;
    
}

.rentals svg {
    margin-left: 5px;
}

#aberfeldy, #amsterdam, #athens, #aviemore, #bakewell, #barcelona, #bath, #show-more {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}

.support-hosting-airbnb {
    line-height: 1.8;
}
body {
    font-family: arial;
}

#icons #pastExperiences {
    display: inline-block;
    border-radius: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 250px;
    }

#icons img {
    
    height: 100%;
    width: 100%;
    position: absolute;
    vertical-align: bottom;
    display: inline-block;
    padding:1%;
    position:relative;
    flex-direction: column;
    grid-column: 1;
    column-gap: 24px;
    row-gap: 40px;
    border-radius: 16px;
}

#pastExperiences img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    vertical-align: bottom;
    display: inline-block;
    padding:1%;
    position: relative;
    flex-direction: column;
    grid-column: 1;
    column-gap: 24px;
    row-gap: 40px;
    border-radius: 16px;

}

p.hostName {
    color: grey;
}

:root {
    --corner-radius-tiny: 4px;
    --corner-radius-small: 8px;
    --corner-radius-medium: 12px;
    --corner-radius-large: 16px;
    --corner-radius-xlarge: 20px;

    --elevation-high-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    --elevation-high-border: 1px solid rgba(0, 0, 0, 0.04);
  
    --elevation-primary-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    --elevation-primary-border: 1px solid rgba(0, 0, 0, 0.04);
  
    --elevation-secondary-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    --elevation-secondary-border: 1px solid rgba(0, 0, 0, 0.04);
  
    --elevation-sharp-background: rgba(0, 0, 0, 0.08);
  
    --elevation-tertiary-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    --elevation-tertiary-border: 1px solid rgba(0, 0, 0, 0.08);
  }
